#nav-bar {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
@media (max-width: 768px) {
    #navbar a {
      font-size: 14px;
    }
}


div {
}
/* Estilos para la lista de navegación */
#nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
#nav-bar ul li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
/* Estilos para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top:60px;
  display: grid;
  place-items: center;
}


/* Estilos para la barra de navegación */
#nav-bar {
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Estilos para los enlaces de la barra de navegación */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#header-img {
  margin-left: 40%;
  display: grid;
  place-items: center;
}

/* Estilos para el título */
h1 {
  margin-top: 80px;
  text-align: center;
  display: none;
}

/* Estilos para el contenido */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Estilos para el formulario */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* Estilos para el input de email */
#email {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 300px;
}

/* Estilos para el botón de enviar */
#submit {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  #navbar a {
    font-size: 14px;
  }
}